.container_student {
  padding: 20px;
}

.containerAssignedStudent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.assignedStudents {
  margin-bottom: 20px;
}

.studentCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.selectInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
