.container {
  padding: 20px;
  position: absolute;
  background-color: #000;
  width: 100%;
}

.containerInfo {
  padding: 20px;
}

.containerTeacherStudent {
  
}

.section {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}
